// Fuentes
$Titulo: 'Cinzel', serif;
$Principal: 'Encode Sans SC', sans-serif;
$Texto: 'Roboto', sans-serif;

// Media Queries
$telefono: 320px;
$tablet600: 600px;
$tablet768: 768px;
$desktop: 1200px;

//Colores 
$Primario: #784D3C;
$Blanco: #ffffff;
$Negro: #000000;
$Gris: #444444;
$Gris2: grey;

// Espacios

$Espacio100: 100%;
$Espacio50: 50%;
$Espacio34: 34%;